{% extends "superuser/home.html" %}
{% load i18n static rest_framework %}
{% block title %} {{ title }} {% endblock %}
{% block body_class %}login-page{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <div class="box">
                <div class="box-body">
                    <h2 id="confirmed"></h2>
                    <h3> Confirmed cases</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-body">
                    <h2 id="death"></h2>
                    <h3>Deaths cases </h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-body">
                    <h2 id="recovered"></h2>
                    <h3>Recovered</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-body">
                    <h2 id="countries"></h2>
                    <h3> countries, areas or territories with cases </h3>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="box" style="box-shadow: none;">
                <canvas id="bar-chart-horizontal" style="width: 100%; height: 550px;"></canvas>
            </div>

        </div>
        <div class="col-md-6">
            <div class="box" style="box-shadow: none;">
                <div id="world-map" style="position: relative; width: 100%; height: 550px;">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box" style="box-shadow: none; height: 550px;">
                <h5 class="heading">Countries, areas or territories with cases</h5>
                <ul id="country-data" class="list-item">

                </ul>
            </div>
        </div>
    </div>
{% endblock %}
